.btn{
  background: rgba(255, 215, 83, 0.863);
  border: 2px solid grey;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.315);
  width: 20vw;
  height: 7vw;
  margin: 3vw 3vw 0;
  font-size: calc((100vw - 320px)/(1500 - 320) * (18 - 7) + 7px);
}

.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}

.dropdown{
  position: relative;
}

.dropdown__content{
  display: none;
  position: absolute;
  z-index: 5;
  background-color: grey;
  border-radius: 5px;
  padding-left: 2vw;
  width: 20vw;
  min-width: 60px;
}

.list__item {
  display: block;
  color: #fff;
  text-decoration: none;
}

.show {
  display: block;
  position: absolute;
  left: 11%;
  margin: 5% 0 0 0 ;
}

.text__container {
  display: block;
  margin-top: 3vw;
}

.text {
  width: 90vw;
}
